@import 'tailwindcss';

html,
body {
	height: 100%;
	overflow: hidden;
	background-color: #030712;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
